name: My Workflow
concurrency: 
    group: Production Workflow
    cancel-in-progress: true

on:
    workflow_dispatch:

    push:
      branches: 
        - main
        - "!feature/*"
      
    pull_request:
      branches: 
        - main
        - feature/*

      paths-ignore: 
        - readme.md

      types: 
        - opened
        - closed

      
    # schedule:
    #   - cron: "*/5 * * * *"  

env:
  First_name: "Chirag"
  Second_name: "Gupta"

jobs:
  Job1:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - name: First Step
        run: |
            echo "My name is ${{env.First_name}} ${{env.Second_name}}"
            sleep 200s

  
  Job2:
    if: github.ref == 'main'
    runs-on: ubuntu-latest
    concurrency: 
        group: Production  #THIS IS A UNIQUE NAME
        cancel-in-progress: true  #if we keep true than it will cancel the job in porgress & if False than new one will be cancelled and in progress will run
    steps:
      - name: Second Job - First Step
        run: | 
            echo "My name is ${{env.First_name}} ${{env.Second_name}}"
            sleep 600s




