name: My Workflow

on:
    workflow_dispatch:
      
    # schedule:
    #   - cron: "*/5 * * * *"  

env:
  First_name: "Chirag"
  Second_name: "Gupta"

jobs:
  Job1:
    runs-on: ubuntu-latest
    steps:
      - name: First Step
        run: |
            echo "My name is ${{env.First_name}} ${{env.Second_name}}"

  
  Job2:
    runs-on: ubuntu-latest
    concurrency: 
        group: Production  #THIS IS A UNIQUE NAME
        cancel-in-progress: true
    steps:
      - name: Second Job - First Step
        run: | 
            echo "My name is ${{env.First_name}} ${{env.Second_name}}"
            sleep 600s




